{% extends 'base.html.twig' %}

{% block title %} Confirmation de commande - La Boutique Française {% endblock %}

{% block merci_css %}
    <link rel="stylesheet" href="{{asset('assets/css/merci_order.css')}}">
{% endblock  %}

{% block content %}
<div class="content_merci">

    {#{dump(order)}#}
    <h3> Confirmation de commande </h3>
    <p> Bonjour {{order.user.firstname}} {{order.user.lastname}} </p><br/>
    <p> 
        Nous vous remerçions pour votre commande <span> n° {{order.reference}}</span> </br>
        Un Mail de confirmation vient d'être envoyer a l'adresse suivante <span>{{order.user.email}} </span>
    </p>
    <hr/>
    {###{dump(order.orderDetails.getValues())}#}
    <h5> Récapitulatif de commande </h5>

    <div class="recap_merci">

        {% set sous_total = null %}
        {% for product in (order.orderDetails.getValues()) %}
            <div class="row mt-1">
                <div class="col-md-4">
                    {{product.product}}
                </div>
                <div class="col-md-4 my-auto">
                    {{product.quantity}}
                </div>
                <div class="col-md-4 my-auto">
                    {{(product.total /100) | number_format(2,',','.')}} €
                </div>
            </div>
            {% set sous_total = sous_total + (product.total * product.quantity) %}
        {% endfor %}
        <p class="text-right"> Pour un total de : {{(sous_total /100) | number_format(2,',','.')}} €</p>
    </div>
    <hr/>
    <p> Votre commande sera livrée par <span> {{order.CarrierName}} </span>, à l'adresse suivante:<br/> <span> {{order.delivery | raw}} </sapn>
    <hr/>
    <p> Pour suivre votre commande, rendez - vous dans votre <a href="{{path('account')}}"> espace personnel </a>{# definir vue pour suivie commande #}
</div>
{% endblock %}
