{% extends 'base.html.twig' %}

{% block title %} Modifier mot de passe {% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Hello {{ app.user.firstname }} !</h1>
        <a href="{{ path('account')}}"> Retourner a mon compte </a>
        {% if notification %}
             <hr/>
            <div class="alert alert-success"> {{ notification }} </div>
        {% elseif error %}
             <hr/>
            <div class="alert alert-danger"> {{ error }} </div>
        {% endif %}
    <hr/>
        {{form(form)}} <!-- On passe le formaulaire a twing --> 
    <hr/>
   
</div>
{% endblock %}
